.conteiner_wrapper
    .conteiner--works.conteiner--works-fixd
        .conteiner--works-wrapper
            .conteiner--works_bg
        svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='42.736px', height='27.435px', viewbox='0 0 42.736 27.435', enable-background='new 0 0 42.736 27.435', xml:space='preserve')
            g
                path(fill='#fff' fill-opacity=".5", d='M22.563,26.938c-0.663,0.663-1.724,0.663-2.387,0L0.498,7.286c-0.663-0.663-0.663-1.75,0-2.413L4.9,0.497\
                                     c0.663-0.663,1.724-0.663,2.387,0l14.082,14.082L35.45,0.497c0.663-0.663,1.725-0.663,2.388,0l4.401,4.376\
                                     c0.663,0.663,0.663,1.75,0,2.413L22.563,26.938z')
        .conteiner--works_img
            .conteiner_center-up--foto
                img(src = 'assets/img/foto.jpg' class = '.conteiner_center-up--foto--img' height="350" width="200")
            .conteiner_center-up--text
                .conteiner_center-up--text---p1.color Илья Говорухин
                .conteiner_center-up--text---p2.color Личный сайт веб разработчика
        .conteiner_works-step1
            svg#Layer_2(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='100%', height='100%', viewbox='0 0 2032 210', enable-background='new 0 0 2032 210', xml:space='preserve')
                g
                    polygon(fill-rule='evenodd', clip-rule='evenodd', fill='#fff', points='2032,210 2032,0 1016,173 0,0 0,210')
        .conteiner_works-social
            .conteiner_center-up--centr
                +socialnavigation("social", socials)
        .conteiner_works-humburger
            svg#humburger(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='40px', height='35px', viewbox='0 0 40 35', enable-background='new 0 0 40 35', xml:space='preserve')
                path(fill='#fff' fill-opacity=".5" , d='M40,2.5C40,3.881,38.881,5,37.5,5h-35C1.119,5,0,3.881,0,2.5l0,0C0,1.119,1.119,0,2.5,0h35\
                           C38.881,0,40,1.119,40,2.5L40,2.5z')
                path(fill='#fff' fill-opacity=".5" , d='M40,17.5c0,1.381-1.119,2.5-2.5,2.5h-35C1.119,20,0,18.881,0,17.5l0,0C0,16.119,1.119,15,2.5,15h35\
                           C38.881,15,40,16.119,40,17.5L40,17.5z')
                path(fill='#fff' fill-opacity=".5" , d='M40,32.5c0,1.381-1.119,2.5-2.5,2.5h-35C1.119,35,0,33.881,0,32.5l0,0C0,31.119,1.119,30,2.5,30h35\
                           C38.881,30,40,31.119,40,32.5L40,32.5z')
    include ../common/about
include ../common/footerWorkc