.conteiner_wrapper
    .conteiner--works.conteiner--works-fixd
        .conteiner--works-wrapper
            .conteiner--works_bg
        include ../common/header
    include ../common/about
include ../common/footerWorkc