.conteiner_wrapper
    .conteiner--works
            .conteiner--works_blog
            .conteiner--works_star
                svg(width="50%" height="50%" fill='none' viewBox="0 0 650.00001 450")
                    g
                        path(d='m537.52 1481.3c15.041-18.279 30.082-36.558 45.122-54.837-9.5978-0.2938-19.196-0.5877-28.793-0.8816 10.254-0.5571 20.508-1.1141 30.761-1.6712-7.5199-20.184-15.04-40.369-22.56-60.553 8.5848 20.327 17.17 40.654 25.754 60.981 16.665-16.417 33.331-32.834 49.996-49.252-16.256 17.411-32.513 34.822-48.769 52.232 16.197 0.6411 32.394 1.2823 48.591 1.9235-16.853 0.2098-33.706 0.4195-50.559 0.6292 5.2623 8.8964 10.525 17.793 15.787 26.689-6.3272-9.0391-12.654-18.078-18.982-27.117-15.45 17.286-30.899 34.571-46.349 51.857z', fill='#fff', stroke='#fff', stroke-linecap='round', stroke-linejoin='round')
                        path(d='m552.25 1442.7c10.167-5.5528 20.333-11.106 30.5-16.658-16.592-4.097-33.183-8.1939-49.775-12.291 17.372 3.3586 34.744 6.717 52.116 10.075-1.1395-4.2632-2.279-8.5263-3.4186-12.79 2.1693 4.5698 4.3385 9.1396 6.5078 13.709 4.8589-7.1126 9.7177-14.225 14.577-21.338-4.6095 8.1576-9.219 16.315-13.829 24.473 16.765 6.8755 33.531 13.751 50.296 20.627-17.546-6.1371-35.091-12.274-52.637-18.411 2.5288 9.6467 5.0576 19.293 7.5864 28.94-3.5585-9.9533-7.1171-19.907-10.676-29.86-10.416 4.5077-20.832 9.0153-31.248 13.523z', fill='#fff', opacity='.3955', stroke='#fff', stroke-linecap='round', stroke-linejoin='round')
                        path(d='m574.92 1470.8c2.5736-14.508 5.1471-29.016 7.7207-43.524-16.526 1.1387-33.051 2.2775-49.577 3.4162 16.954-2.124 33.908-4.248 50.862-6.3721-17.828-17.194-35.656-34.389-53.484-51.583 18.896 17.072 37.791 34.145 56.687 51.218 6.1649-16.596 12.33-33.193 18.495-49.789-5.5258 17.46-11.052 34.92-16.577 52.38 21.388-5.6539 42.776-11.308 64.164-16.962-21.816 6.6391-43.633 13.278-65.449 19.918 8.6241 8.3375 17.248 16.675 25.872 25.013-9.6916-8.2159-19.383-16.432-29.075-24.648-3.2127 13.644-6.4253 27.288-9.638 40.933z', fill='#fff', opacity='.543', stroke='#fff', stroke-linecap='round', stroke-linejoin='round')
            include ../common/header
    .conteiner--works_blog-text
        .conteiner_center-up--textback.conteiner_text.corect_about Контакты
    .conteiner--works_blog-block.Buttton_point
        include ../common/map
include ../common/footerWorkc
