
.conteiner_paralax.div_hide
        .paralax_paralax-lear
           img(src="assets/img/pay1.png")
        .paralax_paralax-lear
            img(src="assets/img/pay2.png")
        .paralax_paralax-lear
            img(src="assets/img/pay3.png")
        .paralax_paralax-lear
            img(src="assets/img/pay4.png")
        .paralax_paralax-lear
            img(src="assets/img/pay5.png")
        .paralax_paralax-lear
            img(src="assets/img/pay6.png")
        .paralax_paralax-lear
            img(src="assets/img/pay7.png")
        .paralax_paralax-lear
            img(src="assets/img/pay8.png")
        .paralax_paralax-lear
                img(src="assets/img/pay9.png")
        .paralax_paralax-lear
            img(src="assets/img/pay10.png")
.conteiner.div_hide
    .flip-container.div_hide
        .fliper
            include font-index.pug
            include black-index.pug
a.conteiner_welcom.div_hide Авторизоваться








