
.conteiner_paralax.div_hide
        .paralax_paralax-lear
           img(src="assets/img/lay1.png")
        .paralax_paralax-lear
            img(src="assets/img/lay2.png")
        .paralax_paralax-lear
            img(src="assets/img/lay3.png")
        .paralax_paralax-lear
            img(src="assets/img/lay4.png")
        .paralax_paralax-lear
            img(src="assets/img/lay5.png")
        .paralax_paralax-lear
            img(src="assets/img/lay6.png")
        .paralax_paralax-lear
            img(src="assets/img/lay7.png")
        .paralax_paralax-lear
            img(src="assets/img/lay8.png")
        .paralax_paralax-lear
                img(src="assets/img/lay9.png")
        .paralax_paralax-lear
            img(src="assets/img/lay10.png")
.conteiner.div_hide
    .flip-container.div_hide
        .fliper
            include font-index.pug
            include black-index.pug
a.conteiner_welcom.div_hide Авторизоваться








