
.conteiner_wrapper
    .conteiner--works
        .conteiner_paralax--works.div_hide
                .paralax_paralax-lear--works
                    img(src="assets/img/parallax/layer-02.png")
                .paralax_paralax-lear--works
                    img(src="assets/img/parallax/layer-02.png")
                .paralax_paralax-lear--works
                    img(src="assets/img/parallax/layer-03.png")
                .paralax_paralax-lear--works
                    img(src="assets/img/parallax/layer-04.png")
                .paralax_paralax-lear--works
                    img(src="assets/img/parallax/layer-05.png")
                .paralax_paralax-lear--works
                    img(src="assets/img/parallax/layer-06.png")
                .paralax_paralax-lear--works
                    img(src="assets/img/parallax/layer-07.png")
                    .parallax__cover
        .conteiner_paralax-vidoe
            .video
        include ../common/header
    .conteiner--works_bloc1
        .conteiner_center-up--textback.conteiner_text Мои работы
    include ../common/slider
    .conteiner--works_bloc1
        .conteiner_center-up--textback.conteiner_text.correct Связаться со мной
    include ../common/form
    include ../common/modal
include ../common/footerWorkc