.about_block1.Buttton_point
    .about_block1-left
        .about_block1-left.mini
            .conteiner_center-up--textback.conteiner_text.corect_about Обо мне
        .about_block1-right.max
            p.about_block1-right-step1
                img(src = 'assets/img/foto.jpg' class = 'about_block1-right-step1-img' )
            .about_block1-right-step2
                .about_block1-right-step2-corect
                    .conteiner_center-up--textback.corect_about Кто я
                p.about_block1-right-step1-p.
                    Я front-end разработчик из Москвы. Я занимаюсь разработкой сайтов и приложений. Люблю интересные и современные проекты.
                p.about_block1-right-step1-p.
                    Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
    .about_block1-right.svgblock
        .about_block1-right--right
            .conteiner_center-up--textback.conteiner_text.corect_about Скилы
        p.about_block1-right-step1-p.
            Больше всего меня привлекет Frontend, но я также знаком и могу решать задачи на Backend. Но давайте по порядку.
        .about_block1-right-step1-h3 Frontend
            +skills('skills', skills.Frontend )

            //.about_block1-right-step1-svg
            //    svg.svgCircl(width="100%" height="100%" fill='none')
            //         circle( stroke="#ccc")
            //         circle(stroke="#e8a731")
            //    .about_block1-right-step1-text Pug
        .about_block1-right-step1-h3 Backend
            +skills('skills', skills.Backend)
        .about_block1-right-step1-h3 WorkFlow
            +skills('skills', skills.WorkFlow)


