.flip-font.div_hide
    .conteiner_center
        .conteiner_center-up
            .conteiner_center-up--foto
                img(src = 'assets/img/foto.jpg' class = '.conteiner_center-up--foto--img' height="350" width="200")
            .conteiner_center-up--text
                .conteiner_center-up--text---p1 Илья Говорухин
                .conteiner_center-up--text---p2 Личный сайт веб разработчика
            .conteiner_center-up--centr
                +socialnavigation("social", socials)
        .conteiner_center-down
            +navigation("welcome-nav", welcomeMenu)