footer.footerwork
    .footerwork_up
        .footerwork_up_left
            +navigation("footer-nav", Nav)
        .footerwork_up_right
            .footerwork_up_right-social
                +socialnavigation("social", socials)
    .footerwork_down
        .footerwork_up_left
            .footerwork_up_left-p
                p Я веб-разработчик из Москвы, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
        .footerwork_up_right
            .footerwork_up_left-p
                p.footerwork_up_left-p_right &copy; Илья Говорухин 2017
