.conteiner--works_blog-block--center
    .conteiner_blog
        .conteiner_blog-text.conteiner_center-up--textback.corect_about Связаться со мной
        .conteiner_blog-wrapper
            +navigatContact("contact", contact )
.conteiner--works_blog-block--center-blur#map1
.conteiner--works_blog-block--map#map

