.slider.Buttton_point
    .slider_block1
        .slider_block-centr
            .conteiner_center-up--textback.upgrad Lorem ipsum dolor sit Text0
            .slider_block-centr--p mini text1
            a.slider_block-centr--a Посмотреть
        .slider_block-centr
            .conteiner_center-up--textback.upgrad Sed ut perspiciatis Text1
            .slider_block-centr--p mini text2
            a.slider_block-centr--a Посмотреть
        .slider_block-centr.display_block
            .conteiner_center-up--textback.upgrad But I must explain to Text2
            .slider_block-centr--p mini text3
            a.slider_block-centr--a Посмотреть
        .slider_block-centr
            .conteiner_center-up--textback.upgrad Nam libero tempore Text3
            .slider_block-centr--p mini text4
            a.slider_block-centr--a Посмотреть
        .slider_block-centr
            .conteiner_center-up--textback.upgrad On the other hand, we Text4
            .slider_block-centr--p mini text5
            a.slider_block-centr--a Посмотреть
    .slider_block2
        .slider_block2-up
              .slider_block2-up--box
                 img(src='assets/img/slider/3.jpg')
              ul(onmousedown="return false" onselectstart="return false").slider_block2-up--boxLeft
                    li.slider_block-up--up
                        img(src='assets/img/slider/1.png')
                    li.slider_block-up--up
                        img(src='assets/img/slider/3.jpg')
                    li.slider_block-up--up.active
                        img(src='assets/img/slider/4.png')
                    li.slider_block-up--up
                        img(src='assets/img/slider/5.png')
                    li.slider_block-up--up
                        img(src='assets/img/slider/6.jpg')
                    .slider_block-up--button---up
                         a().slider_block-down--button#button2
              ul(onmousedown="return false" onselectstart="return false").slider_block2-up--boxRight
                    li.tap2.active
                        img(src='assets/img/slider/1.png')
                    li.tap2
                        img(src='assets/img/slider/3.jpg')
                    li.tap2
                        img(src='assets/img/slider/4.png')
                    li.tap2
                        img(src='assets/img/slider/5.png')
                    li.tap2
                        img(src='assets/img/slider/6.jpg')
                    .slider_block-up--button---down
                          a().slider_block-down--button#button1


