.conteiner--works_bg {
  background-image: url("../img/sand.jpg");
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 3000px 100%;
  width: 6000px;
  @include centered();
  height: 100%;
  transform: translate3d(-3000px,0,0);
  animation: bg 120s linear infinite;
  @include phone_up(){
    display: none;
  }
}

.conteiner--works-wrapper {
  @include centered();
  overflow: hidden;
}
.about_block1  {
  width: 100%;
  min-height: 100vh;
  @include clearfix();
  //@include fullscreen();
}


.about_block1-left ,.about_block1-right{
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 rem(20);
@include desktop(){
  float: none;
  width: 100%;
  height: 100%;
}
}
.about_block1-left{
  float: left;

}
.about_block1-right{

  float: right;
}
.about_block1-right-step1, .about_block1-right-step2{
  width: 100%;
  height: 50%;
  margin: 0 auto;

}
.about_block1-right-step1 {
  position: relative;
  overflow: hidden;
  @include flex_center-row();

}
.mini {
  height: 100%;
}
.mini,.about_block1-right--right  {
   text-align: center;
  @include desktop(){
    height: 10%;
    @include flex_center-colum();
    margin-top: 0;
  }
}
.max {
  @include desktop(){
    height: 90%;
  }
}

.about_block1-right-step1 img {
height: 50vh;

}
.corect_about {
 display: inline !important;
  @include tablet(){
    display: inline !important;
    width: auto !important;
  }
}


.about_block1-right-step1-p  a{
 color:  #29C3AD;
 display: inline;
}
.about_block1-right-step2-corect {
  width: 100%;
  text-align: center;
  margin: 1rem 0;
}
.about_block1-right-step2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.about_block1-right-step1-h3 {
  color: #4d5963;

  font-size: 1.75rem;
}
.skills{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  //@include phone(){
  //  display: flex;
  //  flex-direction: column;
  //  justify-content: space-between;
  //  align-items: center;
  //  height: 100%;
  //}
}
.skills__item{
  width: rem(150);
  height: rem(150);
  @include flex_center-colum();
  position: relative;
  min-width: rem(150);
}

.skills__item svg{
  position: absolute;
  @include centered();
  width: 100%;
  height: 100%;
  fill: none;

}

//.about_block1-right-step1-svg {
//  width: rem(150);
//  height: rem(150);
//  @include flex_center-colum();
//  position: relative;
//}


//.svgCircl {
//  position: absolute;
//  @include centered();
//}

//.svgCircl circle{
//
//
//}
.skills__item svg circle {

  //stroke-width: rem(20);
  width: rem(408);
  stroke-dasharray: rem(408);
  stroke-dashoffset: rem(408);
  @include phone_up(){
    cx: 65;
    cy: 65;
    r: 55;
  }

}
.skills__item--text {
  text-align: center;
  color: #e8a731;
  font-family: 'Roboto-Medium';
  font-size: 0.8125rem;
  margin: 0 rem(20);
}

