.footer_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;



}
.footer_span {
  font-size: rem(15.771);
  font-family: "Roboto-Light";
  color: rgb(255, 255, 255);
  -moz-transform: matrix( 0.9992983834985,0,0,1.01455198464301,0,0);
  -webkit-transform: matrix( 0.9992983834985,0,0,1.01455198464301,0,0);
  -ms-transform: matrix( 0.9992983834985,0,0,1.01455198464301,0,0);
}
footer {
  position: relative;

  @include wide {
    height: rem(100);
    margin-top: - rem(100);
  }

  @include desktop {
    height: rem(100);
    margin-top: - rem(100);
  }
  @include laptop {
    height: rem(100);
    margin-top: - rem(100);
  }
  @include tablet {
    height: rem(80);
    margin-top: - rem(80);
  }
  @include phone {
    height: rem(50);
    margin-top: - rem(50);
  }

}


