
.visibl{
  display: block !important;
  opacity: 1 !important;
}
.displayNone {
  display: none;
}
.overHeight {
  overflow: hidden;
  height: 100%;
}
.animside {
  z-index: 1 !important;
  &:after {
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.3s ease-in;
  }
  &:before {
    transform: translate3d(100%, 0, 0);
    transition: transform 0.3s ease-in;
  }
}

.conteiner--works-menu {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  @include flex_center-colum();
  z-index: -1;


}
.conteiner--works-menu {
  &:after, &:before{
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: rgba(0, 191, 165, 0.85);
    top: 0;
    z-index: 1;
  }
  &:after {
    right: -50%;
  }
  &:before {
    left: -50%;
  }
}

.conteiner--works-menu-center, .conteiner_works-humburger {
  z-index: 2;

}
.nave-menu__item{
  text-align: center;
}
.nave-menu__linkundefined{
  margin: rem(22) 0;
  display: inline-block;
  user-select: none;
  color: #fff;
  font-family: 'BERNIERRegular-Regular';
  font-size: 2rem;
  &:hover {
    &:after {
      @include avter_befor {
        left: -3rem;
        background: #fcfcfc;
      };
    }
    &:before {
      @include avter_befor{
        right: -3rem;
        background: #fcfcfc;
      };
    }
  }
}
.textanim{
  animation-name: bounceIn;
  animation-fill-mode: both;
  animation-duration: 0.7s;
  animation-delay: 0.5s;

}


.conteiner--works-menu-center {
  display: none;
  opacity: 0;
}
#humburger_line1,#humburger_line2{
  transform-origin: 50% 50%;
}

.movelineOne{
  transition: all linear 0.2s;
transform: translateY(15px) rotate(45deg);
}
.movelineTwo{
  transition: all linear 0.2s;
transform: rotate(-45deg);
}
.movelineThree{
  transition: all linear 0.2s;
  display: none;
}