@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
@mixin flex_center-colum(){
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin flex_center-row(){
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin centered() {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

}
@mixin pros() {
  width: 100%;
  height: 100%;
}
@function vh($px, $maimpx) {
  @return ($px * 100)/$maimpx + 0vh
}
@function vw($px, $maimpx) {
  @return ($px * 100)/$maimpx + 0vw
}

@function rem($px) {
   @return ($px / $font_size) + 0rem
}


@mixin avter_befor {
  background: rgba(55,62,66,.2);
  content: '';
  width: rem(26);
  height: rem(7);
  position: absolute;

  top: 1rem;
  @content;

}
@mixin wide() {
  @media screen and (min-width: $wide + px) {
    @content;
  }
}
@mixin desktop() {
  @media screen and (max-width: $desktop + px) {
    @content;
  }
}
@mixin laptop() {
  @media screen and (max-width: $laptop + px) {
    @content;
  }
}
@mixin tablet() {
  @media screen and (max-width: $tablet + px) {
    @content;
  }
}
@mixin phone() {
  @media screen and (max-width: $phone + px) {
    @content;
  }
}
@mixin fullscreen {
  height: 100vh;
  min-height: 600px;

  /* fix iOS bug not displaying 100vh correctly */
  /* ipad */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    height: 768px;
  }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    height: 1024px;
  }
  /* iphone5 */
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
    height: 320px;
  }
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    height: 568px;
  }
  /* iPhone 4 */
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    height: 320px;
  }
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    height: 480px;
  }
}
@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bg {
  0%{
    transform: translate3d(0,0,0)
  }
  100%{
    transform: translate3d(-3000px,0,0)
  }
}

