
.conteiner--works {
  width: 100%;
  height: 100vh;
  position: relative;
  @include phone_up() {
    background-image: url("../img/mountains.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  @include fullscreen();
}
.conteiner--works_img {
  height: rem(213);
  width: rem(233);
  position: absolute;
  top:50%;
  left: 50%;
  margin: rem(-106) 0 0 rem(-116);;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  will-change: transform;
  transition: all .3s linear;

}
.conteiner_paralax-vidoe {
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
video {
  min-width: 100%;
  margin-left: - 50%;
  position: absolute;
  margin: 0 auto;
  top: 0;
  z-index: -1;
}

.conteiner_paralax, .conteiner_paralax--works {
  height: 100%;
  overflow: hidden;

  @include phone_up() {
    display: none;
  }
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;

}

.color {
  color: #fcfcfc;
}
.conteiner_paralax {
  @include fullscreen;
}
.conteiner_paralax--works {
  height: 100vh;
  @include fullscreen();
}
.paralax_paralax-lear  {
  width: rem(2000);
  margin-left: - rem(1000);

}
.paralax_paralax-lear--works {
  width: rem(3000);
  margin-left: - rem(1500);

}

.paralax_paralax-lear, .paralax_paralax-lear--works{
  position: absolute;
  height: 100%;

  bottom: 0;
  will-change: transform;
  transition: all .3s linear;
}
.paralax_paralax-lear, .paralax_paralax-lear--works {
  left: 50%;
}
.paralax_paralax-lear img {
  min-width: 100%;
  min-height: 100%;
}
.paralax_paralax-lear img, .paralax_paralax-lear--works  img   {
  display: block;
  position: absolute;


}
.paralax_paralax-lear img, .paralax_paralax-lear--works  img{
  right: 0;
  left:0;
}
.paralax_paralax-lear--works  img {
  min-width: 100%;
  bottom: 0;
}


.parallax__cover {
    background: #013831;
    position: absolute;
    top: 98%;
    left: 0;
    right: 0;
    height: 200% ;
    z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}
#Layer_1{
position: absolute;
top: 92%;
left: 50%;
margin: rem(-14) 0 0 rem(-21);
cursor: pointer;
  z-index: 1;
  &:hover {
    path {
      fill-opacity: 1;
    }
  }


}

.conteiner_works-social {
  position: absolute;
  top: rem(30);
  left: rem(30);
  width: rem(300);
}
.conteiner_works-social .conteiner_center-up--centr .social .social__item:nth-child(1){
  background-image: url("../img/vk_opasaty.svg");
  &:hover {
    background-image: url("../img/vk_opasatyB.svg");
  }
}
.conteiner_works-social .conteiner_center-up--centr .social .social__item:nth-child(2){
  background-image: url("../img/github_opasaty.svg");
  &:hover {
    background-image: url("../img/github_opasatyB.svg");
  }
}
.conteiner_works-social .conteiner_center-up--centr .social .social__item:nth-child(3){
  background-image: url("../img/up_opasaty.svg");
  &:hover {
    background-image: url("../img/up_opasatyB.svg");
  }
}
.conteiner_works-humburger {
    position: absolute;
    right: rem(30);
    top: rem(30);
   cursor: pointer;
}
#humburger path {
  transition: fill-opacity .3s;
}
#humburger   {
  &:hover {
    path {
      fill-opacity: 1;
    }

  }
}